.modal {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    position: fixed;
}

.modal__conteiner {
    position: relative;
    background-color: white;
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 5px;
}

.btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}