.sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    width: auto; 
    height: 100%;
    background: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 0 20px; 
    display: flex;
    flex-direction: column; 
}

.open {
    left: 0;
}

.closeButton {
    align-self: flex-end; /* Выравнивание кнопки закрытия */
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.nav {
    margin-top: 50px; /* Отступ от кнопки закрытия */

    ul {
        list-style: none;
    }

    li {
        margin: 20px 0;
    }

    a {
        color: white;
        text-decoration: none;
    }
}